<div class="fullscreen">
    <ul class="white-text">
        <li><h1>Register</h1></li>
        <li class="sideline">
            <h3>Name</h3>
            <app-input-field></app-input-field>
        </li>
        <li class="sideline">
            <h3>Email</h3>
            <app-input-field></app-input-field>
        </li>
        <li class="sideline">
            <h3>Birthday</h3>
            <app-input-field></app-input-field>
        </li>
        <li class="sideline">
            <h3>Password</h3>
            <app-input-field></app-input-field>
        </li>
        <li class="sideline">
            <h3>Re-Enter Password</h3>
            <app-input-field></app-input-field>
        </li>
        <li>
            <p>Already have an account? <a href="/login">Login</a> instead!</p>
        </li>
    </ul>
</div>