<div class="fullscreen">
    <ul class="text-white">
        <li class="text-2xl"><b>Register</b></li>
        <li class="sideline">
            <h3>Name</h3>
            <input class="login">
        </li>
        <li class="sideline">
            <h3>Email</h3>
            <input class="login">
        </li>
        <li class="sideline">
            <h3>Birthday</h3>
            <input class="login">
        </li>
        <li class="sideline">
            <h3>Password</h3>
            <input class="login">
        </li>
        <li class="sideline">
            <h3>Re-Enter Password</h3>
            <input class="login">
        </li>
        <li class="pt-2">
            <p>Already have an account? <a class="register" href="/login">Login</a> instead!</p>
        </li>
    </ul>
</div>