<ul>
    <li style="float:left"><a href="/home">FRIENDR</a></li>
    <li><a href="/profile"><img class="invert"
                                src="../../assets/user-cropped.svg" 
                                style="height: 30px"/></a></li>
    <li><a href="/messages"><img class="invert"
                                 src="../../assets/chat-bubble-oval-left-ellipsis-cropped.svg" 
                                 style="height: 30px"></a></li>
    <li><a href="/matching-a"><img src="../../assets/Handshake.png" 
                                   style="height: 30px"/></a></li>
</ul>
