.active {
    background-color: #04AA6D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(246, 205, 133, 0.5) 0%, rgba(198, 134, 19, 0.5) 18.75%, rgba(161, 110, 19, 0.5) 51.04%, rgba(198, 134, 19, 0.5) 81.77%, rgba(249, 205, 128, 0.5) 100%);
    border: 1px solid #000000;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #fae6a6;
}

.invert {
    filter: invert(99%) sepia(5%) saturate(19%) hue-rotate(33deg) brightness(104%) contrast(100%);
}