<div class="fullscreen">
    <app-matching-matches></app-matching-matches>
    <ul>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
        <li>
            <app-matching-profile></app-matching-profile>
        </li>
    </ul>
</div>