<div class="fullscreen">
    <app-matching-matches [matchIDs]="matches"></app-matching-matches>
    <ng-container *ngIf="profile !== null">
        <ul class="contact">
            <li>
                <img src="{{profile.pfp}}"/>
            </li>
            <li>
                <p>{{profile.name}}</p>
            </li>
        </ul>
        <ul>
            <li class="absolute bottom-3">
                <ul class="flex relative justify-end flex-col mb-3">
                    <tr *ngFor="let message of messages;" class="inline-block">
                        <p class="message mr-0 ml-auto w-10 mt-2" id="reveal">
                            {{message.message}}
                        </p>
                        <div class="text-sm text-right mr-0 ml-auto text-black">
                            <span *ngIf="curTime != null && message.year != curTime.getFullYear().toString()"
                                class="nobr">
                                {{message.month}}&#47;{{message.day}}&#47;{{message.year}}
                            </span>
                            <span *ngIf="curTime != null && message.year == curTime.getFullYear().toString()
                            && (message.day != curTime.getDate().toString() 
                            || message.month != curTime.getMonth().toString())">
                                {{message.month}}&#47;{{message.day}}
                            </span>
                            {{message.time}}
                        </div>
                    </tr>
                </ul>
                <input [(ngModel)]="userMessageInput"
                    placeholder="Say hi to start the conversation!"
                    (keyup.enter)="sendMessage()"/>
                <button id="reveal" (click)="sendMessage()">Send!</button>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="matches === null as any">
        <p class="errorMsg">No matches to message yet!</p>
    </ng-container>
</div>
