<div class="fullscreen">
    <app-matching-matches [matchIDs]="matches"></app-matching-matches>
    <ng-container *ngIf="messagingVisible">
    <ul class="contact">
        <li>
            <img 
            src="{{profile.pfp}}"
            >
        </li>
        <li>
            <p>{{profile.name}}</p>
        </li>
    </ul>
    <ul>
        <li class="absolute bottom-0">
            <ng-container *ngIf="visible" >
                <p class="message" id="reveal">{{userMessage}}</p>
            </ng-container>
            <input
            [(ngModel)]="userMessageInput"
            #box10
            (keyup)="getMessage(box10.value)"
            placeholder="Say hi to start the conversation!">
            <button id="reveal" (click)="Message()">Send!</button>
        </li>
    </ul>
    </ng-container>
    <ng-container *ngIf="noMatches">
        <p class="errorMsg">No matches to message yet!</p>
    </ng-container>
</div>
