<div class="fullscreen">
    <ul>
        <li>
            <app-messaging-conversation></app-messaging-conversation>
        </li>
        <li>
            <app-messaging-conversation></app-messaging-conversation>
        </li>
        <li>
            <app-messaging-conversation></app-messaging-conversation>
        </li>
        <li>
            <app-messaging-conversation></app-messaging-conversation>
        </li>
        <li>
            <app-messaging-conversation></app-messaging-conversation>
        </li>
    </ul>
    <ul>
        <li>
            <app-messaging-message></app-messaging-message>
        </li>
        <li>
            <app-messaging-message></app-messaging-message>
        </li>
        <li>
            <app-messaging-message></app-messaging-message>
        </li>
        <li>
            <app-messaging-message></app-messaging-message>
        </li>
        <li>
            <app-messaging-message></app-messaging-message>
        </li>
    </ul>
</div>