<div class="fullscreen">
    <app-matching-matches style="min-width: 300px"></app-matching-matches>
    <button *ngIf="curMatch != null" class="btn reject" (click)="onReject()">
        <img src="../../assets/no-symbol-cropped.svg"/>
    </button>
    <app-matching-card *ngIf="curMatch != null" [profile]="curMatch"></app-matching-card>
    <div *ngIf="curMatch == null">
        <h1>No more matches left, check back later!</h1>
    </div>
    <button *ngIf="curMatch != null" class="btn accept" (click)="onAccept()">
        <img src="../../assets/Handshake.png"/>
    </button>
</div>