.container {

    background: radial-gradient(50% 50% at 50% 50%, rgb(223, 239, 250) 0%, rgb(157, 206, 233) 100%);
    border: 1px solid #000000;
    position: absolute;
    width: 450px;
    left: 0px;
    top: 74px;
    bottom: -76px;
}

.container h1 {
    font-size: 40px;
    margin: 10px;
    font-weight: 250;
}

.container ul {
    /* based on match size*/
    width: 346px;
    position: absolute;
    /* (container width - ul width) / 2 */
    left: 52px;
}