<div>
    <ul>
        <li>
            <app-matching-match></app-matching-match>
        </li>
        <li>
            <app-matching-match></app-matching-match>
        </li>
        <li>
            <app-matching-match></app-matching-match>
        </li>
        <li>
            <app-matching-match></app-matching-match>
        </li>
        <li>
            <app-matching-match></app-matching-match>
        </li>
        <li>
            <app-matching-match></app-matching-match>
        </li>
    </ul>
</div>