button {
    padding: 8px;
    min-width: 150px;
    background-color: #ffc875;
    border-color:rgb(0, 10, 0);
    border-radius: 15px;
    border: 1px solid;
}

button a {
    text-decoration: none;
    font-weight: 350;
    color: black;
}

button:hover {
    background-color: rgb(255, 145, 0);
    border-color:rgb(0, 0, 0);
}