button {
    padding: 8px;
    min-width: 125px;
    background-color: orange;
    border-color:rgb(245, 14, 14);
    border-radius: 10px;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: rgb(245, 14, 14);
    border-color:rgb(0, 0, 0);
}