.basic-info {
    vertical-align: top;
    position: relative;
    right: 120px;
    top: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gender{
    display: inline-flex;
    align-items: center;
}

.gender p {
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 10px;
}

input {
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    font-size: 20px;
    font-weight: 300;
    border-radius: 20px;
    padding: 10px;
    margin: 2px 2px 2px 2px;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 3px;
}

.pfp {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    border: 2px solid #3C3C3C;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.pen-pfp {
    position: relative;
    left: 130px;
    bottom: 10px;
}

.pen-input {
    position: relative;
    left: 120px;
    bottom: 29px;
}

.pen-textarea {
    position: relative;
    left: 165px;
    bottom: 38px;
}

.topic {
    text-align: left;
    margin-bottom: 20px;
    width: 400px;
    position: relative;
    right: 20px;
    top: 30px;
}

textarea::hover, input::hover {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.5);
}

.pen {
    height: 20px;
    width: 20px;
    float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}