<div class="fullscreen">
    <div class="align-middle flex justify-between" >
        <div class="basic-info">
                <img src="../../assets/UserIcons/noah21.jfif"
                    class="pfp">
                    <ul>
                        <li class="heading">
                            {{userName}}, {{userAge}}
                        </li>
                        <li class="sub">
                            {{userBio}}
                        </li>
                    </ul>
        </div>
        <div class="posts space-x-7" >
            <img src="../../assets/UserPictures/black-cat.jpg">
            <img src="../../assets/UserPictures/mountains.jpg">  
            <div><app-button text="See more"></app-button> </div>
        </div>
        <div class="align-top">
            <div class="topic"> 
                <h1 class="heading">
                    Interests:
                </h1>
                <div class="sub">
                    {{userInterests}}
                </div>
            </div>
            <div class="topic"> 
                <h1 class="heading">
                    Looking for:
                </h1>
                <div class="sub">
                    {{userLooking}}
                </div>
            </div>
            <div class="pt-10 absolute right-10" >
                <app-button className="button"  link="\profile/edit" text="Edit Profile">Edit Profile</app-button>
            </div>
        </div>
    </div>
</div>