/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    color: white;
}

li a {
    color: orange;
    text-decoration: none;
}

li a:hover {
    color: #dddddd;
}

li .sideline {
    display: block;
    float: right;
}

input .login {
    border-radius: 5px;
}

.fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(190, 121, 255);
}

.white-text {
    color: #ffffff;
}

.black-text {
    color: #ffffff;
}

.matching-card {
    border-color: #aaaaaa;
    border-radius: 5px;
    background-color: #dddddd;
}

.matching-match {
    border-color: #aaaaaa;
    border-radius: 5px;
    background-color: #dddddd;
}

.matching-profile {
    border-color: #aaaaaa;
    border-radius: 5px;
    background-color: #dddddd;
}