div {
    background: radial-gradient(50% 50% at 50% 50%, #E9F2F8 0%, #86BBD8 100%);
    mix-blend-mode: normal;
}

h2 {
    font-size: 28px;
    font-weight: 300;
}

h1 {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}